html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1, 5;
  color: #4d2323;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0px 20px;
  line-height: 50px;
}

#profile-photo {
  width: 200px;
  height: 200px;
}

.section {
  width: 50%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}
